/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.magic {
	display: none;
}

html {
	background-color: #3B3B3B;
	color: #E8E8E8;
}

body {
	min-width: 960px;
	
	background-color: #3B3B3B;
}

div {
	/*margin: 1ex 0;*/
	/*box-shadow: 1px 1px 3px -2px black;
	border-radius: 5px*/
	
	
}

#wrapper {
	padding: 0 1ex;
}

#main {
	/*width: 858px;*/
	width: 100%;
	margin: 0px auto;
	margin-bottom: 1ex;
	
	/*padding: 1em;*/
	/*box-shadow: 1px 1px 3px -2px black;
	border-radius: 5px*/		
}

.submain {
	width: 84ex;
	margin: 0px auto;
	padding: 0.5ex;
	
	box-shadow: 1px 1px 3px -2px black;
	border-radius: 5px
}

header {
	min-width: 996px;
	
	background-color: #292929;
}

hr {
	clear:both;	
}

#header1 {
	width: 960px;
	margin: 0px auto;
	/*position: relative;*/
	/*float: left;*/
	/*margin: 0;*/
	/*margin-left: 30%;*/
	
	padding: 0.2em;
}

nav {
	clear: both;
	margin-top: 0;
	height: 3em;
	text-align: center;
	
	box-shadow: 0px 0.7ex 0.4ex 0.1ex #0A0A0A;
}

nav a {
	margin: 0 1em;
	padding: 0;
	
	text-decoration: none;
	font-size: large;
	color: #D6D6D6;
	
}

a:visited {
	color: #D6D6D6;
}

a:link {
	color: #D6D6D6;
}

a:hover {
	color: #777777;
}


sup {
	cursor: hand;
	cursor: pointer;
}

tr {
	border-bottom: 5px solid transparent;
	
}

tr:last-child {
	/*border-bottom: 1px solid black;*/
	
}

th {
	padding: 2px 4px;
	
	background-color: #5C4C4C;
	/*border-bottom: none;*/
	/*border: none;*/
	box-shadow: 0px 0px 10px -2px black;
	/*border-right: 1px solid black;*/
	/*border-left: 1px solid black;*/
	
}

td {
	padding: 1px 2px;
	box-shadow: 0px 0px 10px -2px black;
	border-right: 1px solid #5C4C4C;
	border-left: 1px solid #5C4C4C;
	text-align: center;
	
}

.table_notes {
	/*width: 80em;*/
}

table {
	/*border: 1px solid red;*/
	/*box-shadow: 1px 1px 3px -2px black;*/
	/*border-radius: 5px;*/
}

input {
	/*background-color: #DEDEDE;*/
	margin: 0.5ex;
}

input[type=radio] {
	margin: 0;
}

input[type=text] {
	/*position: absolute;
	right: 50%;*/
}

.input_number {
	border: none;
	background-color: #ABA1A1;
	width: 6em;
}

button {
	/*background-color: #DEDEDE;*/
}

textarea {
	background-color: #DEDEDE;
}

.math_operator {
	padding: 1px 2px;
	
	border: 1px solid black;
	border-radius: 5px;
}


footer {
	width: 960px;
	margin: 0px auto;
	/*margin-left: 35%;*/
	
	border-top: 1px solid black;	
}

#infoMessage, .alert{
	display: inline-block;
	margin: 0;
	padding: 0 1ex;
	border-radius: 10%;
	color: red;
	text-shadow: black 1px 1px 1px;
	box-shadow: 0px 0.6ex 0.4ex 0.2ex #0A0A0A;
}


.notice, .message{
	display: inline-block;
	margin: 0;
	padding: 1.5ex 1ex;
	min-width: 40em;
	max-width: 45em;
	border-radius: 5px;;
	border-radius: 10%;
	color: blue;
	text-shadow: #FFCA00 1px 1px 5px;
	box-shadow: 0px 0.6ex 0.4ex 0.2ex #0A0A0A;
}

span.message:nth-child(1) {
	margin-top: -15px;
}

.no_own_border {
	border: none;
}

.group_border {
	display: inline-block;
	box-shadow: 1px 1px 3px -2px black;
	border-radius: 5px
}

/* ====================== page specific styles ====================== */

#navigation {
}
a.selected_nav {
	color: red;
}

#overview {
}

#flot_tabs_wrap {
	background: none;
	background-color: transparent;
	font-size: small;
}

.flot_tabs {
	width: 600px;
	height: 300px;
}
/*need to fix this... nvm class handles it nicely*/
/*#flot_tab_0 {
	width: 600px;
	height: 300px;
}
#flot_tab_1 {
	width: 600px;
	height: 300px;
}

*/
#flot_title{
	margin: 0px auto;
	/*display: inline-block;*/
	/*display: block;*/
	display: table;
	text-align: center;
	font-weight: bold;
	color: #777777;
	
}

#browse {
}

#split_routine {
	width: 95%;
	margin: 1ex auto;
}

.ui-datepicker span{
	color: white;
}

.ui-timepicker-div dl {
	color: #CFBABA;
}

#ui-datepicker-div {
	background: none;
	background-color: rgb(20, 20, 20);
	background-color: rgba(20, 20, 20, 0.9);
}

.input_number::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0000FF;
}
.input_number:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #0000FF;
}
.input_number::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #0000FF;
}
.input_number:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #0000FF;
}

#math_value {
	width: 4.5ex;	
}

#builder {
	
}

.aligned_form {
	/*display: table;*/
	/*width: 1px;*/
	
	/*margin: 0 auto;*/
	border: 1px solid black;
	border-radius: 5px;
    padding: 1em;
    
    /*overflow: auto;*/
}

.aligned_form label {
	/*display:block;*/
	font-weight: bold;
	text-align: right;
	min-width: 10em;
	max-width: 30em;
	float: left;
	clear: both;
}

.aligned_form input {
	/*float:left;*/
	font-size: 12px;
	padding: 4px 2px;
	/*border: solid 1px #aacfe4;*/
	width: 15em;
	margin: 2px 0 20px 10px;
}

.aligned_form input[type=submit] {
	width: auto;
	/*float: left;*/
	clear: both;
}

input.view_instr[type=submit] {
	/*float: right;*/
	clear: none;
}

.input_label {
	display: inline-block; 
	width: 10em;
}

.exercise {
	clear: both;
	overflow: auto;
	
	margin-bottom: 0.5ex;
	/*border: 1px solid #BA1A1A;*/
	box-shadow: 0px 0px 3px -1px #BA1A1A;
	border-radius: 5px;
}

.day {
	/*border: 1px solid #BA1A1A;*/
	box-shadow: 2px 2px 3px -2px black;
	border-radius: 5px;
}

/*.first_exercise {
	overflow: auto;
	border: 1px solid black;
	border-radius: 5px;
	overflow: auto;
}*/

.d_exercises {
	/*clear: both;
	overflow: auto;*/
}

.aligned_form textarea {
	font-size: 12px;
	padding: 4px 2px;
	/*border: solid 1px #aacfe4;*/
	width: 20em;
	margin: 2px 0 20px 10px;
}

.aligned_form select {
	/*float: left;*/
	font-size: 12px;
	padding: 4px 2px;
	/*border: solid 1px #aacfe4;*/
	width: auto;
	margin: 2px 0 20px 10px;	
}

.aligned_form a {
	clear: both;
	float: right;
	padding-right: 1ex;
	
	text-decoration: none;
}
.day {
	/*clear: both;	*/
}



.rem_ex:link, .rem_ex:visited, .rem_ex:hover {
	color: #BA1A1A;
}

.rem_day:link, .rem_day:visited, .rem_day:hover {
	color: #BA1A1A;
}


/* ======================================================================
 * end Author's custom styles
 * ======================================================================*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
